<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
div {
	width: 300px;
	height: 150px;
	
	border: 1px solid #ccc;
	
	float: left;
	
	padding: 5px;
	margin: 10px;
}

#visible {
	overflow: visible;
}

#hidden {
	overflow: hidden;
}

#scroll {
	overflow: scroll;
}
</style>

</head>
<body>

<div id="visible">
<p>까닭이요, 쓸쓸함과 계절이 차 못 남은 내 계십니다. 내 그리워 잠, 차 그리고 내일 버리었습니다. 나는 써 파란 다하지 어머니 가을로 무성할 라이너 거외다. 부끄러운 소학교 노루, 별 어머니, 추억과 위에도 까닭입니다. 하늘에는 자랑처럼 책상을 불러 언덕 오는 소녀들의 까닭입니다. 겨울이 하나에 하늘에는 강아지, 위에도 가을 말 별 까닭입니다. 당신은 어머니 우는 없이 어머님, 별 위에 가난한 밤을 버리었습니다. 계절이 헤는 별이 릴케 봅니다. 봄이 옥 풀이 오면 봅니다. 나의 경, 밤을 애기 아스라히 청춘이 시인의 하나에 까닭입니다. 것은 속의 노루, 하나 하나에 언덕 시와 내린 있습니다.</p>
</div>

<div id="hidden">
<p>불러 불러 내 가난한 아스라히 피어나듯이 멀듯이, 하나에 까닭입니다. 써 쉬이 위에 계십니다. 별이 언덕 위에도 하나에 계십니다. 겨울이 이런 이국 릴케 나의 봅니다. 그리워 다 가난한 하나에 봄이 어머니 북간도에 노루, 듯합니다. 부끄러운 가슴속에 너무나 애기 아직 청춘이 계십니다. 나는 밤이 아스라히 나의 무성할 차 봅니다. 노새, 이름자 이름과 이런 듯합니다. 이름과, 추억과 프랑시스 사랑과 이름자를 별이 너무나 별 버리었습니다.</p>
</div>

<div id="scroll">
<p>봄이 그리워 하늘에는 경, 한 까닭입니다. 별 쉬이 사랑과 멀리 듯합니다. 릴케 밤을 써 덮어 이네들은 마리아 버리었습니다. 없이 무성할 애기 시인의 써 듯합니다. 그리워 릴케 못 강아지, 않은 별 이국 소학교 까닭입니다. 경, 시와 별이 별 소학교 그리워 없이 지나가는 듯합니다. 하나의 이름을 남은 까닭입니다. 지나고 쓸쓸함과 이국 봅니다. 계집애들의 나의 남은 보고, 않은 책상을 때 차 까닭입니다.</p>
</div>

</body>
</html>



