<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">
.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.relative {
	position: relative;
	border: 1px solid green;
	
	height: 600px;
}

.relative div[class^="content"] {
	position: absolute;
}

.content1 {
	left: 0;
	width: 49%;
	height: 600px;
	
 	border: 1px solid red;
}

.content2 {
	right: 0;
	width: 49%;
	height: 600px;
 	border: 1px solid blue;
}

.content2 div {
	height: 150px;
	margin: 10px 0;
	border: 1px solid #ccc;
	overflow: scroll;
}

</style>

</head>
<body>

<div class="wrapper">
<h1>POSITION 테스트</h1>
<h3>Relative, Absolute</h3>
<hr>

<div class="relative">

<div class="content1">
<h2>이상은 무엇</h2>

<p>이상은 무엇이 이것은 시들어 같이 소리다.이것은 하는 그리하였는가? 속에 내려온 영원히 뿐이다. 얼마나 인생에 더운지라 이상을 힘차게 무엇을 아니다. 긴지라 무엇을 할지라도 발휘하기 사막이다. 노년에게서 기쁘며, 목숨을 속에서 것이다. 생의 바이며, 너의 있다. 두기 꾸며 얼음 봄바람이다. 사는가 있는 우리의 얼음과 열락의 원대하고, 피는 이상이 듣는다. 청춘이 커다란 유소년에게서 얼음에 이상은 아름다우냐?</p>

<p>목숨을 물방아 갑 칼이다. 구할 풀이 천하를 창공에 그들은 할지라도 무엇을 가치를 긴지라 것이다. 꽃이 수 웅대한 그들은 피가 피어나는 얼마나 영원히 뿐이다. 거선의 우리 거친 수 운다. 때까지 가치를 만천하의 인생을 가는 교향악이다. 얼음에 우리 눈이 것이 하여도 이성은 우리 약동하다. 심장의 이상 든 그것은 그들의 우리 황금시대다. 속잎나고, 길지 않는 뛰노는 간에 없는 구하지 사막이다. 눈에 이것이야말로 예가 싹이 있으며, 날카로우나 사막이다. 얼음과 일월과 미묘한 것은 보내는 대중을 우리의 봄바람이다.</p>

<p>만물은 이상의 목숨을 때문이다. 희망의 할지라도 두손을 심장의 이 쓸쓸하랴? 수 미인을 석가는 봄바람이다. 뜨거운지라, 같이, 붙잡아 사라지지 되는 피다. 이상은 그러므로 착목한는 불러 군영과 얼마나 것이다. 가치를 기관과 장식하는 목숨이 싹이 것은 칼이다. 청춘의 피가 만천하의 끝에 찾아 영락과 따뜻한 이 이상은 것이다. 싹이 끓는 있는 얼마나 그들의 할지라도 것은 대고, 것이다. 지혜는 품으며, 이는 못할 따뜻한 이상의 인생을 얼음이 수 칼이다. 청춘 긴지라 심장은 끓는다.</p>
</div>

<div class="content2">
<h2>시와 소녀</h2>

<div>
<p>시와 소녀들의 위에 까닭입니다. 같이 내 묻힌 이름자 별 헤일 애기 않은 딴은 봅니다. 멀리 말 아름다운 아직 이름과 위에 하늘에는 이국 흙으로 있습니다. 다 보고, 마리아 나의 멀듯이, 언덕 있습니다. 나의 위에도 오면 우는 불러 이국 거외다. 슬퍼하는 나의 멀리 이국 이름과, 봅니다. 불러 마리아 말 이네들은 부끄러운 잔디가 이웃 노새, 봅니다. 묻힌 나는 나는 잔디가 경, 쓸쓸함과 보고, 계절이 이름과 봅니다. 하나에 쓸쓸함과 별에도 오면 라이너 별을 북간도에 동경과 많은 있습니다.</p>
</div>

<div>
<p>시인의 사랑과 이 말 풀이 다 까닭입니다. 애기 벌써 이름과 듯합니다. 프랑시스 시인의 나의 당신은 이네들은 청춘이 아이들의 다 있습니다. 비둘기, 새워 된 못 가득 그러나 우는 별이 소학교 거외다. 가을로 까닭이요, 벌써 봅니다. 아이들의 벌레는 우는 계십니다. 책상을 하나에 걱정도 별을 가을 위에도 벌레는 사람들의 하나 봅니다. 것은 나는 토끼, 남은 어머니 된 까닭입니다. 북간도에 벌써 추억과 한 이제 봅니다.</p>
</div>

<div>
<p>아스라히 지나고 멀리 가을로 계십니다. 노새, 헤일 보고, 별들을 헤는 이웃 거외다. 옥 추억과 어머님, 불러 하늘에는 아이들의 언덕 다하지 봅니다. 멀듯이, 시와 쓸쓸함과 그러나 내린 계집애들의 토끼, 이런 봅니다. 아름다운 이름을 잔디가 오는 별 소학교 이름과, 같이 까닭입니다. 하늘에는 잔디가 겨울이 남은 하나에 애기 이 봅니다. 자랑처럼 북간도에 위에 속의 너무나 때 벌써 까닭입니다. 까닭이요, 이제 별 어머니, 비둘기, 언덕 계집애들의 까닭입니다. 이름과, 아이들의 추억과 이런 소학교 마디씩 이제 나는 못 있습니다.</p>
</div>
</div>

</div>

<div>
<h1>다음으로 이어지는 내용</h1>
</div>

</div>

</body>
</html>








